.main-body .submit-button {
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    height: 48px;
    text-transform: uppercase;
    width: 100%;
    background: #40aec8;
}